*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li {
	list-style: none;
}

#main-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* #main-header img {
	position: relative;
	width: 100%;
	object-fit: cover;
	background-position: center;
	background-size: cover;
} */

.hero-img {
	position: relative;
	width: 100%;
	height: 600px;
	background-image: url('./assets/library_films.jpg');
	object-fit: cover;
	background-position: center;
	background-size: cover;
}

.shadow-img {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-content h1 {
	padding: 2rem;
	color: rgb(228, 9, 9);
	text-shadow: 5px 4px 7px rgb(12 11 11);
	text-transform: uppercase;
	font-size: 5.2rem;
}

.header-content h3 {
	padding: 1rem;
	text-align: center;
	font-size: 2.5rem;
}

.header-content-link {
	/* display: inline-block; */
	padding: 0.5rem 1rem;
	margin: 2rem;
	background-color: rgb(228, 9, 9);
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
}

/* Component Films */

#films {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 3rem;
}

#films h2 {
	padding-bottom: 3rem;
	color: #6f5aad;
	text-align: center;
	font-size: 3rem;
}

.films {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	gap: 3rem;
}

/* Component Film */

.film {
	height: 100%;
	background-color: rgb(24 24 45);
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.film img {
	width: 100%;
	border-radius: 6px;
}

.film-content {
	flex: 1;
	padding: 0 1.5rem 1.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.4rem;
}

.film-content h3 {
	font-size: 2.4rem;
	color: #6f5aad;
	margin-bottom: 0.25rem;
}

/* Navigation */

.nav {
	margin: auto;
	max-width: 1200px;
	border-radius: 30px;
	padding: 1rem 3.5rem;
	display: flex;
	justify-content: space-between;
	background-color: rgb(24 24 45);
}

.nav img {
	width: 5rem;
	height: auto;
	border-radius: 6px;
}

.hamburger {
	background: none;
	fill: #6f5aad;
	border: none;
	cursor: pointer;
	z-index: 100;
}

.list {
	display: none;
	align-items: center;
	gap: 1rem;
}

.list.active {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #333;
	width: 100%;
	height: 100%;
	padding: 5rem;
}

.list.active a {
	text-transform: uppercase;
	font-size: 3.6rem;
}

.list a {
	padding: 2rem;
	text-decoration: none;
	font-size: 2.6rem;
	color: #6f5aad;
	text-transform: uppercase;
}

/* Component Top5 */

#topfilms {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#topfilms h2 {
	padding: 3rem;
	color: #6f5aad;
	text-align: center;
	font-size: 3.6rem;
}

.topfilms {
	margin: 2rem;
	border-radius: 6px;
	/* height: 200px; */
}

.topfilms-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.topfilms-item::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 12rem;
	text-align: center;
	font-weight: bold;
	text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
	/* background-color: rgba(0, 0, 0, 0.3); */
	z-index: 1;
}

.topfilms img {
	/* padding: 1rem; */
	width: 32rem;
	border-radius: 6px;
	object-fit: cover;
	background-position: center;
	background-size: cover;
}

/* Accordion */

#faq{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#faq h2 {
	padding: 3rem;
	color: #6f5aad;
	text-align: center;
	font-size: 3.6rem;
}

.accordion {
	width: 70vw;
	margin: 2rem 0;
	/* border: 1px solid #5d6273; */
	border-radius: 6px;
	overflow: hidden;
	list-style: none;
}

.accordion-item {
	margin: 1rem;
	border: 1px solid #5d6273;
	border-radius: 6px;
	background-color: #1e2130;
}

.accordion-item-title {
	margin: 0;
	padding: 1rem;
	background-color: #363e57;
	cursor: pointer;
	font-size: 1.8rem;
	color: #c1d9fa;
}

.accordion-item-content {
	padding: 1rem;
	background-color: #2c344a;
	font-size: 1.6rem;
}

.open {
	display: block;
}

.close {
	display: none;
}


/* Media queres */

@media (min-width: 576px) {
	.header-content h1 {
		font-size: 8rem;
	}

	.header-content h3 {
		font-size: 3.2rem;
	}

	.header-content Link {
		font-size: 1.6rem;
	}
}

@media (min-width: 768px) {
	.hamburger {
		display: none;
	}

	.list {
		display: flex;
	}
}

@media (min-width: 992px) {
	.header-content h1 {
		font-size: 12rem;
	}

	.header-content h3 {
		font-size: 4rem;
	}

	.header-content Link {
		font-size: 2.4rem;
	}

	.topfilms img {
		width: 350px;
	}
}
